

.choices > img {
    object-fit: contain;
    width: 400px;
    height: 400px;
}
.choices > h3 {
    text-align: center;
}
.choices {
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    background-color: rgb(188, 183, 183);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.choices:hover {
    background-color: rgb(150, 146, 146);
    cursor: pointer;
}

#mainbox {
    display: flex;
    justify-content: center;
    align-items: center;
}